<nav>
	<style>
	a:hover{
		text-decoration: none;
		color: white;
	}
	</style>
  <div class="nav-wrapper blue-grey darken-3">
    <ul id="nav-mobile" class="left hide-on-med-and-down">
			<li><a href="#" style="font-size:2em">ALPGC</a></li>
      <li><a href="#" ng-click="main.changeArea(1)">Contact Me</a></li>
		</ul>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a ng-click="main.changeArea(4)">Experience</a></li>
      <li><a ng-click="main.changeArea(2)">Academic</a></li>
      <li><a ng-click="main.changeArea(3)">Projects</a></li>
    </ul>
  </div>
</nav>
